results-list li {
  position: relative; 
  top     : 0;
  display : inline-block; 
  margin  : 16px; 
  vertical-align: middle;
  padding-bottom: 40px;
}

.search-field {
  background-color: #CCFF99; 
  padding         : 20px; 
  margin          : 20px; 
  border-radius   : 5px; 
}

ul {
  list-style-type: none; 
}

.welcome-banner {
  background-color: #66FF99; 
  padding         : 20px; 
  margin          : 20px; 
  border-radius   : 5px; 
}

.welcome-message {
  background-color: #99FF33;
  padding         : 20px; 
  margin          : 20px; 
  border-radius   : 5px; 
}

